

<h2><%= @room.name %><h2>

<p><%= @room.description %></p>

<p> <%= link_to @room.link1[0], current_room_path(id:@link1) %> </p>
<p>  <%= link_to @room.link2[0], current_room_path(id:@link2) %> </p>
